22 lines (21 sloc)  800 Bytes
{{#each posts as |post| }}
<div class="card">
  <div class="card-header">
    <h2>{{title}}</h2>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{content}}</p>
      <footer class="blockquote-footer">Posted by {{user.name}} on {{format_date date_created}}</footer>
    </blockquote>
    <button class="update-button" data-id="{{id}}">
      <a href="/dashboard/edit/{{id}}">Update post</a>
    </button>
    <button class="delete-button" data-id="{{id}}">Delete post</button>
  </div>
</div>

<script src="/js/dashboard.js"></script>